<!-- Header for each view except login & registration  -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>United Parents</title>

  <!-- Bootsrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@400;700&family=Nunito:wght@400;600;900&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom Sytles -->
  <link rel="stylesheet" href="/css/styles.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <header class="header">
    <div class="header-title">
      <p>United Parents</p>
    </div>
  </header>
</head>

<aside class="sidebar">
  <div class="icons">

    <div class="icons-container">
      <a href="home">
        <span class="material-icons">home</span>
        <p>Startseite</p>
      </a>
    </div>

    <div class="icons-container">
      <a href="my-profile">
        <span class="material-icons">account_circle</span>
        <p>Mein Profil</p>
      </a>
    </div>


    <div class="icons-container">
      <a href="search-user">
        <span class="material-icons">map</span>
        <p>User suchen</p>
      </a>
    </div>

    <div class="icons-container">
      <a href="chats">
        <span class="material-icons">forum</span>
        <p>Chats</p>
      </a>
    </div>

    <div class="icons-container">
      <a href="help-finances">
        <span class="material-icons">contact_support</span>
        <p>Hilfe & Finanzen</p>
      </a>
    </div>

    <div class="icons-container">
      <a href="settings">
        <span class="material-icons">settings</span>
        <p>Einstellungen</p>
      </a>
    </div>

    <div class="icons-container">
      <a href="logout">
        <span class="material-icons">logout</span>
        <p>Abmelden</p>
      </a>
    </div>

  </div>
</aside>

<!-- Closing tag of body is in partials/footer.ejs -->

<body class="body">

  <!-- Closing tag of contents-container is in partials/footer.ejs -->

  <div class="contents-container">