/* ----- Custom Styles ----- */
/* ---------- Body Style ---------- */
.body {
  background-color: #EDE7E3;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  color: #1a1a1a;
}
.body h1 { font-weight: 600; }

/* ---------- Fixed Header & Sidebar ---------- */
/* Header Style */
header {
  display: inline-flex;
  position: fixed; /* fixed at the top when scrolling */
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #82C0CC;
  border: 0;
  border-radius: 0 0 8px 0; /* top-left | top-right | bottom-right | bottom-left */
  box-shadow: 2px 0 2px #999999; /* offset-x | offset-y | blur-radius | color */
}

/* Font Style of the header title */
.header-title {
  position: relative;
  margin-top: 20px;
  margin-left: 20%;
  font-family: 'Laila', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 3px;
  color: #1a1a1a;
}

.change-language a {
  position: absolute;
  right: 2%;
  top: 34%;
  text-decoration: none;
  color: #4d4d4d;
}

/* Fixed Sidebar with icons & text */
.sidebar {
  position: fixed; /* fixed at the left site when scrolling */
  top: 80px; /* Starts at the end of the header height */
  left: 0;
  bottom: 0;
  width: 15%; /* Takes up only 15% of the total screen width */
  overflow-x: hidden; /* Prevents horizontal scrolling*/
  background-color: #fff;
  border: 0;
  border-radius: 0 8px 0; /* top-left | top-right | bottom-right | bottom-left */
  box-shadow: 0 2px 8px #cccccc; /* offset-x | offset-y | blur-radius | color */
}

.icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Container with icons */
.icons-container {
  position: static; /* positioned according to the flow of the page */
  text-align: center;
  color: #808080;
}


.icons-container a {
  text-decoration: none;
  color: #808080;
}

/* Size of the icons */
.material-icons { font-size: 36px; }

/* Font sytle of the icons text */
.icons p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

/* Change color of current icon */
.icons-container .active {
  color: #ffa62b;
  font-weight: 600;
  text-decoration: underline solid 2px;
}

/* Change color of icons & text on hover */
.icons-container a:hover {
  color: #ffa62b;
  text-decoration: underline solid 2px;
}

/* ---------- Page Content ---------- */
.contents-container { margin: 116px 20% 4%; /* top | right | bottom | left*/
}

/* ---------- Login & Regsitration Content ---------- */
/* Fixed Sidebar with welcome text */
.sidebar-login-register {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  overflow-x: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px #cccccc; /* offset-x | offset-y | blur-radius | color */
}

.welcome-container {
  margin-top: 96px;
  display: inline-block;
}

.welcome-text {
  font-family: 'Nunito', sans-serif;
  font-size: 2.3vw;
  text-align: center;
  line-height: 2;
}

/* Login/Registration Form */
.card {
  width: auto;
  margin-left: 30%;
  border-radius: 4px;
  box-shadow: 0 0 1em #cccccc; /* offset-x | offset-y | blur-radius | color*/
}

.card-body { margin: 8px; }

/* Title Style */
.card h1 {
  font-weight: 700;
  letter-spacing: 2px;
}

/* Div for E-Mail address */
#email { margin-bottom: 16px; }

/* Title for each input */
label.form-label {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

/* Text inside the input */
input.form-control {
  font-size: 14px;
  border-color: #a6a6a6;
}

/* Style of the input when on focus */
input.form-control:focus {
  border-color: #489fb5;
  box-shadow: 2px 2px 8px 1px #82c0cc; /* offset-x | offset-y | blur-radius | spread-radius | color*/
}

/* Div for Password */
#password { margin-bottom: 4px; }
a.forgot-password { font-size: 15px; }
#rePassword { margin-top: 16px; }

/* Style of the button */
.card button.w-100 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  background-color: #16697a;
  border-color: transparent;
}

/* Style of the button when on hover/focus */
.card button.w-100:focus,
.card button.w-100:hover {
  background-color: #489fb5;
  border-color: transparent;
  box-shadow: none;
}

.w-100.text-center.mt-2 { margin-bottom: 20px; }

/* ---------- Reusable box for contents ---------- */
.content-box {
  width: 75vw;
  padding: 16px;
  margin-bottom: 40px;
  background-color: #fdfdfc;
  border-radius: 8px;
  border: solid #489FB5 2px;
  box-shadow: 0 2px 4px #cccccc;
}

/* ---------- Home Content ---------- */
.home { text-align: center; }
.home p {
  margin-top: 16px;
  line-height: 1.5;
  text-align: left;
}


.uni-logo {
  height: 110px;
  width: 210px;
  display: inline-flex;
}

.logo-img {
  width: 100%;
  height: 100%;
}


/* ---------- My Profile Content ---------- */
.profile { display: inline-flex; }

.profile-img {
  width: fit-content;
  text-align: center;
}

.profile-img .circle-img {
  height: 220px;
  width: 220px;
  border: solid 3px #ede7e3;
  box-shadow: 0 2px 4px #999999; /* offset-x | offset-y | blur-radius | color */
}

.profile-info {
  width: fit-content;
  margin-left: 36px;
  margin-top: 16px;
}


/* ---------- Search User Content ---------- */
/* Hide Spinners from Number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Search Form*/
.search-zip-container { width: 75vw; }

.search-radius,
.zip-input {
  margin-right: 60px;
  margin-bottom: 24px;
  padding: 8px;
  height: 2em;
  background-color: #fdfdfc;
  border: solid 2px #a6a6a6;
  border-radius: 8px;
}
.search-radius:focus,
.zip-input:focus {
  outline: none;
  border-color: #489fb5;
  box-shadow: 2px 2px 8px 1px #82c0cc;
}

#zip-code input::placeholder {
  padding: 8px;
  font-size: 18px;
}

.zip-button {
  height: 2em;
  padding: 0 16px;
  margin-bottom: 20px;
  color: #fdfdfc;
  background-color: #16697a;
  border-color: transparent;
  border-radius: 8px;
}
.zip-button:hover { background-color: #489fb5; }

/* Search Result */
.no-results {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
}

/* Remove extra left and right margins, due to padding */
.zip-result-row { margin: 0 -14px; }

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.zip-result-card {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
  background-color: #fdfdfc;
  border-radius: 8px;
  border: solid #489FB5 2px;
  box-shadow: 0 4px 8px 0 #cccccc;
}

.zip-result-card h1 { font-size: 2vw; }
.zip-result-card p { font-size: 1.5vw; }

.circle-img {
  margin-bottom: 12px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #489FB5;
}

.send-msg-btn {
  height: 40px;
  width: 100px;
  border-radius: 12px;
  border: transparent;
  background-color: #489fb5;
  box-shadow: 0 2px 2px #cccccc;
}

.send-msg-btn .material-icons {
  text-align: center;
  font-size: 24px;
  padding: 8px;
  color: #fff;
}

.zip-result-card .circle-img:hover { border: 4px solid #ffa62b; }
.send-msg-btn:hover { background-color: #ffa62b; }

/* ----------- Media query ---------- */
/* Change layout for smaller screen sizes */
@media only screen and (max-width: 768px) {
  .body { font-size: 16px; }
  .contents-container { margin-top: 96px; }

  /* Fixed Header */
  header { height: 60px; }

  .header-title {
    margin-top: 20px;
    font-size: 16px;
  }
  .change-language a { font-size: 14px; }

  /* Fixed Sidebar */
  .sidebar { top: 60px; }
  .icons p { display: none; }

  /* Login/Register Content */
  .sidebar-login-register { display: none; }
  .card {
    width: auto;
    margin: auto;
  }
  .card h1 { font-size: 24px; }

  /* Home Content */
  .uni-logo {
    height: 60px;
    width: 160px;
    margin-bottom: 12px;
  }

  /* My Profile Content*/
  .profile { display: block; }
  .profile-img {
    width: 100%;
    text-align: center;
  }
  .profile-img .circle-img {
    height: 120px;
    width: 120px;
  }
  .profile-info {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;;
  }

  /* Search User Content*/
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

.zip-result-card h1 { font-size: 18px; }
.zip-result-card p { font-size: 16px; }
}
